*
{
    margin: 0;
    padding: 0;
}

html, body, .Container
{
    height: 100%;
    background-color: #5D5D5D;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: light;
}

    .Container:before
    {
        content: '';
        height: 100%;
        float: left;
    }

/*.Header
{
    margin-bottom: 0px;
    background-color: #6ea364;
}*/
.Content
{
    position: relative;
    z-index: 1;
}
    .Content:after
    {
        content: '';
        clear: both;
        display: block;
    }

.Wrapper
{
    position: absolute;
    width: 100%;
    height: 100%;
}
    .Wrapper > div
    {
        height: 100%;
    }

.LeftContent
{
    background-color: #282828;
    margin-right: 403px;
}

.iconsTop {
    margin-left: 185px;
    padding-top: 70px;
    width: 100%;
    height: 10%;
}

.RightContent
{
    background-color: slategray;
    width: 400px;
    flex-direction: column;
    float: right;
    margin-left: 10px;
}

.top {
    background-color: #282828;
    height: 50%;
    margin-bottom: 3px;
    flex-direction: column;
}

.bottom {
    background-color: #282828;
    height: 50%;
}

.header {
    height: 10%;
    border-bottom: 3px #5D5D5D solid;
}