html { overflow: hidden; }

body { 
  font-family: 'Raleway', sans-serif;
  margin: 0 0;
  background-color: #262528;
  width: 100%;
  height: 100%;
  color: white;
}

.bordered {
    border: 10px solid orange;
    background: transparent;
}


canvas { 
	width: 80%;
  float:right;
}

#record {
    position:fixed;
    float: right;
    padding: 20px;
}

#record { height: 15vh; }

#record.recording { 
	background: #272629;
	background: -webkit-radial-gradient(center, ellipse cover, #637796 0%,#272629 75%,#272629 100%, #637796  100%); 
	background: -moz-radial-gradient(center, ellipse cover, #637796 0%,#272629 75%,#272629 100%,#637796 100%); 
	background: radial-gradient(center, ellipse cover, #637796 0%,#272629 75%,#272629 100%, #637796 100%); 
}

@media (orientation: landscape) {
	body { flex-direction: row;}
	#controls { flex-direction: column; height: 100%; width: 10%;}
	#viz { height: 100%; width: 90%;}
}

.recorder {
  width: 50%;
}





.feed-container {
  width: 50%;
}

.recorder {
  width: 50%;
}
